---
---
@import "main"; // this tells Sass to look for a file called main.scss in the sass directory (_sass/)

.post-list {
  .post {
    margin-bottom: 0;
    padding: 50px 0;
    border-bottom: 1px solid #e8e8e8;
    &:first-of-type {
      padding-top: 20px;
    }
    &:last-of-type {
      border-bottom: none;
    }
    .post-top {
      font-size: 14px;
      margin-bottom: 8px;
    }
    > h1 {
      margin-bottom: 0;
      > a.post-link {
        font-size: 30px;
        font-weight: bold;
        color: #000000;
      }
    }
    .post-excerpt {
      font-size: 12px;
      color: #5d5d5d;
    }
  }
}

.tag {
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: 4px;
  background-color: #eaeaea;
  font-size: 12px;
  font-weight: bold;
}

/////// header ///////
#custom-site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  position: relative;
  background-color: #ffffff;
  .hp-logo {
    width: 220px;
    padding: 40px 0;
  }
  //The sticky class is added to the header with JS when it reaches its scroll position
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
}
// TODO 페이지를 스크롤 다운할때 컨텐츠가 아래로 가도록.
//.sticky + .page-content {
//  &.custom-page-content {
//    padding-top: 200px;
//  }
//}

/////// footer ///////
.u-email {
  color: #828282;
}