---
---
@import "main"; // this tells Sass to look for a file called main.scss in the sass directory (_sass/)

.post-list {
  .post {
    margin-bottom: 0;
    padding: 50px 0;
    border-bottom: 1px solid #e8e8e8;
    &:first-of-type {
      padding-top: 20px;
    }
    &:last-of-type {
      border-bottom: none;
    }
    .post-top {
      font-size: 14px;
      margin-bottom: 8px;
    }
    > h1 {
      margin-bottom: 0;
      > a.post-link {
        font-size: 30px;
        font-weight: bold;
        color: #000000;
      }
    }
    .post-excerpt {
      font-size: 12px;
      color: #5d5d5d;
    }
  }
}

.tag {
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: 4px;
  background-color: #eaeaea;
  font-size: 12px;
  font-weight: bold;
}
