---
layout: default
---
<div class="category">
  <h1 class="category-name">{{ page.name }}</h1>

  <ul class="post-list">
    {% assign filtered_posts = site.posts | where: 'categories', page.name %}
    {% for post in filtered_posts %}
    <li class="post post-container">
      <div class="post-side">
        {% assign author = site.authors | where: 'name', post.author | first %}
        <a href="{{ author.url | relative_url}}">
          <img class="post-author-image"  src="{{ author.image }}">
        </a>
      </div>
      <div class="post-main">
        <div class="post-top">
          {{ post.date | date: "%Y년 %-m월 %-d일" }} |
          <a class="post-author-link" href="{{ author.url | relative_url}}"> {{ post.author }} </a>
        </div>
        <h1>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h1>
        <div class="post-description">{{ post.description | escape }}</div>
        <div class="post-tag">
          {% for tag in post.tags %}
          <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
